!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= Dear (@user.name)
    %p
      %br/
      = link_to 'Change my password', edit_password_url(@user, :reset_password_token => @token)
      %br/
    %p
      Thank you,
      %br/
      TimeChat Team!
  