!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .header
      = image_tag root_url + ActionController::Base.helpers.asset_path("email_template_header.png")
    .content
      %h3
        Dear
        = @user.name.capitalize
      %p
        You are invited to 
        = @friend.name.capitalize
        %br/
        Please check your friend
      %p
        Thank you,
        %br/
        TimeChat team

    .footer
      = image_tag root_url + ActionController::Base.helpers.asset_path("email_template_mark.png")

:css
  p, h3{
    color: red;
  }
  h3{
    margin: 0px;
  }
    
:javascript
  var elem = document.getElementById("message_headers");
  elem.remove();      