.container
  .row.header-row{style:'border-bottom: 1px solid #000000; margin-bottom:20px;'}
    .span8{style:'margin-left: 0px;'}
      %h3{style:'margin-bottom: 0px;'} Create New Lost Item
    
    .span1.pull-right
  = render "form"